*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.menu_content {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(3,1fr); */
    grid-template-areas: 
                    "heder"
                    "main";
    
}
.heder {
    background-image: url(./img/hero\ image.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
    height: 510px;
}
.img_heder {
   width: 100%;
   height: 800px;
}
.cub_menu_content {
    display: grid;
    grid-template-columns: 9% 14% 74%;
    grid-template-rows: 40vh ;
    margin: auto;
    grid-row-gap: 3px;  
}
.cub_obertka{
    width: 100%;
    height: 100%;
    justify-content: center;
     align-content: center;
     grid-template-columns: repeat(2,1fr);
     display: grid;
     position: relative;
}
.cub_heder1 {
    width: 50px;
    height: 50px;
    border: 3px solid #FF7400;
    transform: rotate(-50deg);  
}
.cub_heder2 {
    width: 50px;
    height: 50px;
    border: 3px solid #FF7400;
    transform: rotate(-50deg);
    top: 71px;
    left: 32px;
    position: absolute;
}
.munu_heder_obertka{
    color: #fff;
    display: grid;
    grid-template-columns: 11% 9% 10% 8% 4% 2% 29% 19%;
    align-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;  
}
.glavmone:hover{
    color: #656363;
}
.menu_heder:hover{
    color: #656363;
}
.o_nas:hover{
    color: #656363;
}
.bron:hover{
    color: #656363;
}
.br{
    width: 2px;
    height: 60px;
    background: #FFFFFF;
} 
.cort_heder:hover{
    width: 27px;
    height: 21px;
}
.cort_heder:active{
    width: 25px;
    height: 19px;
}
.telepohn{
    width: 25px;
    height: 19px;
}
.telepohn_span{
    font-weight: 100;
}
.telepohn:hover {
    width: 27px;
    height: 21px;
}
.btn_zakazat{
    width: 100%;
    height: 84%;
    background: #FF7400;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    font-weight: 620;
    color: #fff;
    line-height: 1px;
}
.btn_zakazat:hover{
  background: #f39344;
}
.cort_heder{
    width: 20px;
    height: 20px;
 }
 .dobro_poj_content{
    width: 100%;
    height: 49%;
    display: grid;
    font-size: 1.6em;
    grid-template-columns: 8% 30%;
    grid-template-rows: 20% 15% 15%;
    color: #D67E35;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   
    
 }
.p1_heder{
    font-size: 2em;
}
.h6_heder{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}
.h6_heder::after{
    content: " ";
    top: 11px;
    left: 28px;
    width: 42px;
    height: 2px;
    background: #C4C4C4;
    position: absolute;
}
.h6_heder::before{
    content: " ";
    top: 11px;
    left: 253px;
    width: 42px;
    height: 2px;
    background: #C4C4C4;
    position: absolute;
}
.view_muny_mobil_version{
    display: none;
}
.view_menu{
    width: 142px;
    height: 46px;
    font-size: 0.7em;
    color: #fff;
    background: #FF7400;
    margin: auto;
    text-align: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 620;
    display: grid;  
}
.view_menu:hover{
    background: #f39344;
}
.main { 
    width: 100%;
    /* background: red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 364px 318px 171px 433px 83px 800px 554px 658px 587px 542px;
}
.blanck_main {
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(3,22%);
    grid-template-rows: 100% ;
    justify-content:space-evenly;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    
}

.cart1_main {
    top: -82px;
    left: 93px;
    width: 22%;
    height: 100%;
    background: #fff;
    position: absolute;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 90%;
    grid-template-rows: 41% 16% 70%;
    box-shadow: 3px 14px 10px 1px;
}
.Rectangle_main{
    width: 40%;
    height: 90%;
    display: grid;
    margin: auto;
    
}
.cart2_main {
    top: -79px;
    left: 39%;
    width: 22%;
    height: 100%;
    background: #fff;
    position: absolute;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 90%;
    grid-template-rows: 41% 16% 70%;  
    box-shadow: 3px 14px 10px 1px;
}
.cart3_main {
    top: -79px;
    left: 69.5%;
    width: 22%;
    height: 100%;
    background:#fff;
    position: absolute;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 90%;
    grid-template-rows: 41% 16% 70%;
    box-shadow: 3px 14px 10px 1px;
}
.cart1_main_p1{
    color: #BC9060;
}
.strocka{
    color: #656363;
}
.history_block_main{
    width: 84%;
    margin: auto;
    height: 250px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 28% 72%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.heading_history_main {
    height: 91%;
}
.psuto_mobil_version{
    display: none;
}
.heading_history_main_span {
    color: #D67E34;
}
.history_main {
    color: #656363;
}
.pusto_hisotry_mobil_version{
    display: none;
}
.block_number_main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px;
}
.nuber1_main {
    color: #000000;
}
.nuber1_main > span{
    color: #BC9060;
}
.history_charts {
    position: relative;
}

.img_main_bloc1{
    top: 14px;
    left: 39px;
    width: 191px;
    height: 225px;
    z-index: 1;
    position: absolute;
}

.img_main_bloc2{
    top: 124px;
    left: 266px;
    width: 155px;
    height: 170px;
    z-index: 1;
    position: absolute;
}
.img_main_bloc3{
    top: -12px;
    left: 161px;
    width: 153px;
    height: 250px;
    z-index: 0;
    position: absolute;
}
.delicious_intro{
    width: 100%;
    height: 54vh;
    background-image: url(./img/delicious-1866631_1920\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 54px;
}
.block3_intro{
    width: 100%;
    height: 54vh;
    background: #171718d1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: center;
    align-items: center;  
}

.block3_tex_span1 {
    font-weight: 580;
    font-size: 2em;
    color: #D67E34;
    font-family: 'Times New Roman', Times, serif;
}
.block3_tex_span2 {
    font-size: 1.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
}
.block3_btn {
    align-items: center;
    width: 204px;
    height: 58px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    font-weight: 620;
    color: #fff;
    background: #FF7400;
    align-items: center;
    margin: auto;
    display: grid;
}
.block3_btn:hover{
    background: #f39344; 
}
.block4_content{
    font-size: 2.3em;
    color: #000000;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-content: center;
}
.block4_heading_span {
    color: #D67E34;
}
.block5_content{
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 433px;
    grid-column-gap: 10px;
    justify-content: center;
}

.block5_img1{
    width: 95%;
    height: 100%;
    
}
.block5_burger{
    display: grid;
    grid-template-columns: 30% 68%;
    grid-template-rows: 128px 129px 130px;
    grid-gap: 22px;

}
.block5_img2{
    width: 100%;
    height: 100%;
    
}
.block5_tex{
    display: grid;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
.block7_content{
    background-image: url(./img/bar.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 168vh;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
}

.block7_tex {
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 2.5em;
}
.block7_burger_menu {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
}
.block7_intro1{
    background: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 20% 20%;
   
}
.block7_intro2{
    background: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 20% 20%;
   
}
.block7_intro3{
    background: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 50% 20% 20%;
   
}
.block7_img_content1{
    width: 100%;
    height: 100%;
   display: grid;
   position: relative;
}
.Recording1{
    width: 120px;
    height: 25px;
    background: #D67E34;
    color: #000000;
    font-size: 0.9em;
    display: grid;
    text-align: center;
    align-items: center;

}
.block7_img_content2{
    width: 100%;
    height: 100%;
   display: grid;
   position: relative;
}
.block7_img_content3{
    width: 100%;
    height: 100%;
   display: grid;
   position: relative;
}

.block7_img{
    width: 79%;
    height: 87%;
    border-radius: 50%;
    display: grid;
    margin: auto;
}
.block7_img_tex{
    top: 143px;
    left: 175px;
    width: 75px;
    height: 75px;
    background: #D67E34;
    color: #fff;
    text-align: center;
    display: grid;
    border-radius: 50px;
    border: 4px solid #fff;
    align-items: center;
    font-size: 1.5em;
    position: absolute;
}
.block7_tex1{
    display: grid;
    width: 100%;
    text-align: center;
}
.block7_img_tex1 span{
    width: 1000px;
}
.block7_btn{
    width: 220px;
    height: 50px;
    background-color: #D67E34;
    color: #fff;
    margin: auto;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
}
.block7_btn:hover{
    background: #f39344;
}
.block8_content {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 150px 202px 40px;
    justify-content: center;
    text-align: center;
    background: #E6E5E5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.block8_tex {
    width: 63%;
    margin: 0 auto; 
    color: #626262;
    font-style: italic;
}
.block8_img_intro {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 37% 10%;
    align-items: end;
}
.block8_img {
    width: 15%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
}

.block8_chaket{
    width: 11px;
    height: 8px;
    background: #C4C4C4;
}
.block9_content {
    width: 100%;
}
.block9_tex {
    width: 100%;
    height: 100px;
    font-size: 1.2em;
    text-align: center;
}

.block9_texh1 > span{
    font-size: 1.2em;
    color: #D67E34;
}
.block9_img {
    width: 95%;
    height: 433px;
    display: grid;
    grid-template-columns: 24% 23% 23% 24%;
    grid-template-rows: 50% 50%;
    grid-gap: 21px;
    margin: auto;
    justify-content: center;
}
.block9_img1{
   width: 100%;
   height: 100%;
   grid-column: 1/3; 
}
.block9_img2{
    width: 100%;
    height: 100%; 
 }
 .block9_img3{
    width: 100%;
    height: 100%; 
 }
 .block9_img4{
    width: 100%;
    height: 100%; 
 }
 .block9_img5{
    width: 100%;
    height: 100%; 
 }
 .block9_img6{
    width: 100%;
    height: 100%; 
    grid-column: 3/5;
 }
 .block10_content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70%;
}
.block10_tex {
    display: grid;
    text-align: center;
    align-items: start;
    font-size: 1.5em;
}
.block10_h1 > span{
 color: #D67E34;
}
.block10_img {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    grid-gap: 28px;
    justify-content: center;  
}
.block10_img1  {
    width: 100%;
    height: 94%;
}
.block10_img2  {
    width: 100%;
    height: 94%;
}
.block10_img3  {
    width: 100%;
    height: 94%;
}
.block11_content{
    width: 100%;
    height: 100%;
}
.block11_img{
    width: 100%;
    height: 100%;
}

/* Мобилная версия шириной от 300 до 400px  / Mobile version width from 300 to 400px*/

@media all and (min-width:300px) and (max-width:400px) {
    .menu_content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                        "heder"
                        "main"; 
    }
    .heder {
        background-image: url(./img/hero\ image.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;  
        width: 100%;
        height: 735px;  
    }
    .img_heder {
       width: 100%;
       height: 800px;
    }
    .cub_menu_content {
        width: 100%;
        height: 17%;
        display: block;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
    .pusto{
        display: none;
    }
    .cub_intro{
        display: none;
    }
    .cub_obertka{
        width: 100%;
        height: 100%;
        align-content: center;
        grid-template-columns: 70% 20%;
        display: grid;
    }
    .cub_heder1 {
        width: 35px;
        height: 35px;
        border: 4px solid #FF7400;
        transform: rotate(313deg);
        position: relative;
        display: inline-block;
    }
    .cub_heder1::after {
        content: "";
        left: 8px;
        top: 9px;
        width: 26px;
        height: 26px;
        border: 4px solid #FF7400;
        position: absolute;
        transform: rotate(359deg);
    }
    
    .cub_heder2 {
        width: 50px;
        height: 50px;
        border: 3px solid #FF7400;
        transform: rotate(-50deg);
        top: 71px;
        left: 32px;
        display: none;
        position: absolute;
    }
    .iconka_menu {
        width: 60px;
        height: 38px;
        display: grid;
    }
    .strip1 {
        width: 100%;
        height: 10%;
        background:#FF7400;
    }
    .strip2 {
        width: 100%;
        height: 10%;
        background:#FF7400;
    }
    .strip3 {
        width: 100%;
        height: 10%;
        background:#FF7400;
    }
    .munu_heder_obertka{
        color: #fff;
        display: none;
        grid-template-columns: 11% 9% 10% 8% 4% 2% 29% 19%;
        align-content: center;
        align-items: center;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 600;  
    }
     .dobro_poj_content{
        width: 100%;
        height: 49%;
        font-size: 1.8em;
        grid-template-columns: 8% 30%;
        grid-template-rows: 20% 15% 15%;
        color: #D67E35;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        display: block;
      
     }
     .pusto1{
        height: 142px;
     }
    .p1_heder{
        font-size: 2em;
    }
    .h6_heder{
        color: #fff;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
    }
    .h6_heder::after{
        content: " ";
        top: 11px;
        left: 28px;
        width: 42px;
        height: 2px;
        background: #C4C4C4;
        position: absolute;
        display: none;  
    }
    .h6_heder::before{
        content: " ";
        top: 11px;
        left: 253px;
        width: 42px;
        height: 2px;
        background: #C4C4C4;
        position: absolute;
        display: none;
    }
    .view_menu_web{
        display: none;
    }
    .view_muny_mobil_version{
        display: block;
    }
    .view_menu{
        width: 142px;
        height: 46px;
        font-size: 0.7em;
        color: #fff;
        background: #FF7400;
        margin: auto;
        text-align: center;
        align-items: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 620;
        display: grid;  
    }
    .view_menu:hover{
        background: #f39344;
    }
    .main { 
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:inherit;
        background: rgb(114, 110, 106);
    }
    .blanck_main {
        width: 100%;
        height: inherit;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 288px 452px 452px;
        grid-row-gap: 57px;
        justify-content: inherit;
        font-size: 1.7em;
        position: relative;
        font-family: 'Times New Roman', Times, serif;
    }   
    .cart1_main {
        top: -158px;
        left: 22px;
        width: 90%;
        height: 452px;
        background: #fff;
        position: absolute;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 90%;
        grid-template-rows: 1005;
        box-shadow: 3px 14px 10px 1px;
    }
    .Rectangle_main{
        width: 40%;
        height: 90%;
        display: grid;
        margin: auto;
        
    }
    .cart2_main {
        width: 90%;
        height: 100%;
        background: #fff;
        position: inherit;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 90%;
        grid-template-rows: 41% 16% 70%;
        box-shadow: 3px 14px 10px 1px;
        top: inherit;
        left: inherit;
        margin: auto;
    }
    .cart3_main {
        top: inherit;
        left: inherit;
        width: 90%;
        height: 452px;
        background:#fff;
        position: inherit;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: 90%;
        grid-template-rows: 41% 16% 70%;
        box-shadow: 3px 14px 10px 1px;
        margin: auto;
    }
    .cart1_main_p1{
        color: #BC9060;
    }
    .strocka{
        color: #656363;
    }
    .history_block_main{
        width: 100%;
        height: inherit;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  10107px 1000px;
        font-size: 1em;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        /* background: red; */
    }
    .block1_history{
        width: 100%;
        height: 1117px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:  206px 400px 500px ;
        grid-row-gap: 0px;
        /* background: rgb(33, 84, 159); */

    }
    .psuto_mobil_version_heding{
        width: 100%;
        height: 100%;
        display: none;
        background: blueviolet;
    }
    .heading_history_main {
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        width: 90%;
        height: 100%;
        margin: auto;
        display: grid;
        /* background: rgb(26, 38, 57); */
    }
    .heading_history_main_span {
        color: #D67E34;
    }
    .history_main {
        width:92%;
        height:400px;
        /* background: red; */
        color: #656363;
        font-size: 1.5em;
        margin: auto;
    }
    .block_number_main {
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        margin: auto;
        grid-template-rows: 150px 150px 150px;
        grid-row-gap: 23px;
        font-size: 1.9em;
        align-items: center;
        /* background: rgb(134, 13, 226); */
    }
    .pusto_hisotry_mobil_version_nuber{
        width: 100%;
        height: 34%;
        display: none;
        
    }
    /* .block_number_main span {
      font-size: 1.5em; 
    } */
    .nuber1_main {
        color: #000000;
    }
    .nuber1_main > span{
        color: #BC9060;
    }
    .block2_his{
        width: 100px;
        height: 1000px;
        background: red;
        display: none;
    }
    .history_charts {
        /* position: relative; */
        display: block;
        background: red;
    }
    
    .img_main_bloc1{
        top: 14px;
        left: 39px;
        width: 191px;
        height: 225px;
        z-index: 1;
        position: absolute;
       
    }
    
    .img_main_bloc2{
        top: 124px;
        left: 266px;
        width: 155px;
        height: 170px;
        z-index: 1;
        position: absolute;
      
    }
    .img_main_bloc3{
        top: -12px;
        left: 161px;
        width: 153px;
        height: 250px;
        z-index: 0;
        position: absolute;
        
    }
    .delicious_intro{
        width: 100%;
        height: 54vh;
        background-image: url(./img/delicious-1866631_1920\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        margin-top: 54px;
        display: none;
    }
    .block3_intro{
        width: 100%;
        height: 54vh;
        background: #171718d1;
        display: none;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        text-align: center;
        align-items: center;  
    }
    
    .block3_tex_span1 {
        font-weight: 580;
        font-size: 2em;
        color: #D67E34;
        font-family: 'Times New Roman', Times, serif;
    }
    .block3_tex_span2 {
        font-size: 1.1em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
    }
    .block3_btn {
        align-items: center;
        width: 204px;
        height: 58px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.4em;
        font-weight: 620;
        color: #fff;
        background: #FF7400;
        align-items: center;
        margin: auto;
        display: grid;
    }
    .block3_btn:hover{
        background: #f39344; 
    }
    .block4_content{
        font-size: 2.3em;
        color: #000000;
        display: none;
        font-family: 'Times New Roman', Times, serif;
        justify-content: center;
        align-content: center;
    }
    .block4_heading_span {
        color: #D67E34;
    }
    .block5_content{
        display: none;
        grid-template-columns: 35% 60%;
        grid-template-rows: 433px;
        grid-column-gap: 10px;
        justify-content: center;
    }
    
    .block5_img1{
        width: 95%;
        height: 100%;
        
    }
    .block5_burger{
        display: grid;
        grid-template-columns: 30% 68%;
        grid-template-rows: 128px 129px 130px;
        grid-gap: 22px;
    
    }
    .block5_img2{
        width: 100%;
        height: 100%;
        
    }
    .block5_tex{
        display: grid;
        align-items: center;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
    }
    .block7_content{
        background-image: url(./img/bar.png);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        width: 100%;
        height: 168vh;
        display: none;
        font-family: 'Times New Roman', Times, serif;
        grid-template-columns: 100%;
        grid-template-rows: 20% 60% 20%;
    }
    
    .block7_tex {
        display: grid;
        justify-content: center;
        align-content: center;
        color: #fff;
        font-size: 2.5em;
    }
    .block7_burger_menu {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: space-evenly;
    }
    .block7_intro1{
        background: #fff;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% 20% 20%;
       
    }
    .block7_intro2{
        background: #fff;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% 20% 20%;
       
    }
    .block7_intro3{
        background: #fff;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% 20% 20%;
       
    }
    .block7_img_content1{
        width: 100%;
        height: 100%;
       display: grid;
       position: relative;
    }
    .Recording1{
        width: 120px;
        height: 25px;
        background: #D67E34;
        color: #000000;
        font-size: 0.9em;
        display: grid;
        text-align: center;
        align-items: center;
    
    }
    .block7_img_content2{
        width: 100%;
        height: 100%;
       display: grid;
       position: relative;
    }
    .block7_img_content3{
        width: 100%;
        height: 100%;
       display: grid;
       position: relative;
    }
    
    .block7_img{
        width: 79%;
        height: 87%;
        border-radius: 50%;
        display: grid;
        margin: auto;
    }
    .block7_img_tex{
        top: 143px;
        left: 175px;
        width: 75px;
        height: 75px;
        background: #D67E34;
        color: #fff;
        text-align: center;
        display: grid;
        border-radius: 50px;
        border: 4px solid #fff;
        align-items: center;
        font-size: 1.5em;
        position: absolute;
    }
    .block7_tex1{
        display: grid;
        width: 100%;
        text-align: center;
    }
    .block7_img_tex1 span{
        width: 1000px;
    }
    .block7_btn{
        width: 220px;
        height: 50px;
        background-color: #D67E34;
        color: #fff;
        margin: auto;
        border: none;
        font-size: 1.2em;
        font-weight: 700;
    }
    .block7_btn:hover{
        background: #f39344;
    }
    .block8_content {
        width: 100%;
        display: none;
        grid-template-columns: 100%;
        grid-template-rows: 60px 150px 202px 40px;
        justify-content: center;
        text-align: center;
        background: #E6E5E5;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .block8_tex {
        width: 63%;
        margin: 0 auto; 
        color: #626262;
        font-style: italic;
    }
    .block8_img_intro {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70% 37% 10%;
        align-items: end;
    }
    .block8_img {
        width: 15%;
        height: 100%;
        border-radius: 50%;
        margin: auto;
    }
    
    .block8_chaket{
        width: 11px;
        height: 8px;
        background: #C4C4C4;
    }
    .block9_content {
        width: 100%;
        display: none;
    }
    .block9_tex {
        width: 100%;
        height: 100px;
        font-size: 1.2em;
        text-align: center;
    }
    
    .block9_texh1 > span{
        font-size: 1.2em;
        color: #D67E34;
    }
    .block9_img {
        width: 95%;
        height: 433px;
        display: grid;
        grid-template-columns: 24% 23% 23% 24%;
        grid-template-rows: 50% 50%;
        grid-gap: 21px;
        margin: auto;
        justify-content: center;
    }
    .block9_img1{
       width: 100%;
       height: 100%;
       grid-column: 1/3; 
    }
    .block9_img2{
        width: 100%;
        height: 100%; 
     }
     .block9_img3{
        width: 100%;
        height: 100%; 
     }
     .block9_img4{
        width: 100%;
        height: 100%; 
     }
     .block9_img5{
        width: 100%;
        height: 100%; 
     }
     .block9_img6{
        width: 100%;
        height: 100%; 
        grid-column: 3/5;
     }
     .block10_content {
        width: 100%;
        height: 100%;
        display: none;
        grid-template-columns: 100%;
        grid-template-rows: 20% 70%;
    }
    .block10_tex {
        display: grid;
        text-align: center;
        align-items: start;
        font-size: 1.5em;
    }
    .block10_h1 > span{
     color: #D67E34;
    }
    .block10_img {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 100%;
        grid-gap: 28px;
        justify-content: center;  
    }
    .block10_img1  {
        width: 100%;
        height: 94%;
    }
    .block10_img2  {
        width: 100%;
        height: 94%;
    }
    .block10_img3  {
        width: 100%;
        height: 94%;
    }
    .block11_content{
        width: 100%;
        height: 100%;
        display: none;
    }
    .block11_img{
        width: 100%;
        height: 100%;
    }
}